#header {
  background: #ffffff;
  margin: 0px auto;
}

header {
  border-bottom-style: solid;
  color: #ececec;
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

#navigation ul li {
  font-weight: bold;
  padding-right: 20px;
}

a {
  color: black;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 400;
  color: black;
}

section {
  padding-top: 94px;
  padding-bottom: 94px;
}
button {
  cursor: pointer;
}

.buttonp {
  width: 30%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.container h2 {
  justify-content: center;
}

.container {
  text-align: center;
  justify-content: center;
}
.biznes {
  display: flex;
  justify-content: center;
  padding-top: 0px;
}

.biznes1 {
  background-image: url(../images/squad.jpg);
  background-image: linear-gradient (to right, black);
  display: flex;
  align-items: center;
  text-align: center;
  height: 600px;
  padding-top: 0px;
  margin: 0 auto;
  max-width: 1600px;
}

.ulbutton {
  list-style-type: none;
  text-decoration: none;
  justify-content: center;
  display: flex;
}

ul li {
  display: inline;
}

ul {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  padding-left: 0px;
  display: flex;
  justify-content: space-between;
}

#navigation a:hover {
  color: #2196f3;
}

.agency {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
}

a {
  text-decoration: none;
}

.agency {
}

.portfolio {
}

.contact {
}

.info {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
}

.info a {
  color: #757575;
}

.info a:hover{
  color: #2196f3;
}

svg {
  cursor: pointer;
}

.circle {
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
.svg2 {
  fill: yellow;
}
.mail {
  text-decoration: none;
}

.tel {
  text-decoration: none;
}
.web {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */

  letter-spacing: 0.03em;
  text-decoration: none;
  color: black;
}

.blue {
  color: #2196f3;
}

.containers {
  padding-top: 94px;
  display: flex;
  justify-content: center;
}

.mcontainer {
  background: #2f303a;
  background-image: url(/images/squad.jpg);
  width: 1200px;
  display: flex;
  align-items: center;
  text-align: center;
  height: 600px;
  padding-top: 0px;
}

.efekt h1 {
  letter-spacing: 0.06em;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  color: #ffffff;
}

h1 {
  text-align: center;
}

.buttoni {
  background: #2196f3;
  color: white;
  width: 200px;
  height: 50px;
}

figure {
  margin: 0;
}

.pho p {
  text-align: left;
}

.containerwe {
  background: #ffffff;
}

.lor {
  padding-top: 94px;
  padding-bottom: 94px;
}

.lor ul {
  display: flex;
}

.lor p {
  color: #757575;
  text-align: left;
  font-size: 14px;
}

.lor h3 {
  text-align: left;
}
.tabc {
}

.lorem {
  color: #757575;
}

.czym {
  padding-bottom: 94px;
}

.boxczym {
  text-align: center;
}

.boxczym h2 {
}

.teamc {
  background: #f5f4fa;
  padding-top: 94px;
}

.teamc h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}

.teamc p {
  color: #757575;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;
}

.teambox {
  display: flex;
  justify-content: center;
}

.cards {
  display: flex;
  justify-content: space-between;
  /* Make a flex container multiline */
  gap: 10px;
  padding: 0;
  list-style: none;
}

.item {
  /*  Set the width of the elements  */
  padding: 0px;
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  padding-bottom: 25px;
}

.john1box {
  background: #ffffff;
}

.john1img {
}

.johnbox2 {
  background: #ffffff;
}

.john2img {
}

.johnbox3 {
  background: #ffffff;
}

.john3img {
}

.johnbox4 {
  background: #ffffff;
}

.john4img {
}

.teambox h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  font-weight: bold;
}

.teambox p {
  color: #757575;
}

.bold td {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

button {
  font-weight: bold;
  border-radius: 4px;
  background: #f5f4fa;
  border-style: hidden;
  font-family: "Roboto", sans-serif;
}

.cardsp {
  display: flex;
  /* Make a flex container multiline */
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
  justify-content: center;
}

.itemp {
  /*  Set the width of the elements  */
  padding: 10px;
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
  flex-basis: calc((100% - 20px) / 3);
}

.itemp:hover {
  -webkit-box-shadow: 7px 10px 16px -3px rgba(0, 0, 0, 0.88);
  box-shadow: 7px 10px 16px -3px rgba(0, 0, 0, 0.88);
}

.itemp h3 {
  text-align: left;
  padding-left: 15px;
}

.itemp p {
  color: #757575;
  text-align: left;
  padding-left: 15px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.photos {
  padding-top: 94px;
}

.butp {
  height: 38px;
  border-radius: 4px;
  width: auto;
}

.butp:hover {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: -webkit-box-shadow: 2px 19px 18px -9px rgba(66, 68, 90, 1);
-moz-box-shadow: 2px 19px 18px -9px rgba(66, 68, 90, 1);
box-shadow: 2px 19px 18px -9px rgba(66, 68, 90, 1);
}

.two {
}

.three {
}

.four {
}

.five {
}

.technoc {
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #eeeeee;
}

.technoimg {
}

.title1 h3 a {
}

figcaption h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  /* identical to box height, or 200% */

  letter-spacing: 0.06em;

  color: #212121;
}

figcaption {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 188% */

  letter-spacing: 0.03em;
  color: #757575;
}
.basketc {
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #eeeeee;
}

.basketimg {
}

.title2 h3 a {
}

.seac {
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #eeeeee;
}

.seaimg {
}

.title3 h3 a {
}

.headc {
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #eeeeee;
}

.head {
  display: flex;
  justify-content: space-between;
  margin: 0px auto;
}

.headimg {
}

.title4 h3 a {
}

.boxc {
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #eeeeee;
}

.boximg {
}

.title5 h3 a {
}

.screenc {
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #eeeeee;
}

.screenimg {
}

.title6 h3 a {
}

.bookc {
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #eeeeee;
}

.bookimg {
}

.title7 h3 a {
}

.labelc {
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #eeeeee;
}

.labimg {
}

.title8 h3 a {
}

.laptopc {
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #eeeeee;
}

.screenimg {
}

.title9 h3 a {
}

p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;
}

footer {
  background-color: #2f303a;
  padding-top: 40px;
  padding-bottom: 40px;
  height: 252px;
  display: flex;
  align-items: center;
}

.footercp {
  background-color: #2f303a;
}
.web2 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */
  color: white;
  letter-spacing: 0.03em;
  display: flex;
  width: 145px;
}

.foot a {
}

.city {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  letter-spacing: 0.03em;
  color: #ffffff;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 0px;
}

.city2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: #ffffff;
}

address {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 250px;
}

address a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding-top: 15px;
}

.mail {
  padding-right: 20px;
  width: 165px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
}


.tel1 {
  width: 120px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
}

.mail2 {
}

.tel2 {
}
address a:hover {
}

.sat {
  background-color: #f5f4fa;
  width: 270px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.svgcards {
  display: flex;
  justify-content: space-evenly;
}

.blok1 {
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}

.blok {
  width: 170px;
  height: 92px;
  border-radius: 5px;
  border-color: #afb1b8;
  border-style: solid;
  display: flex;
  align-items: center;
  justify-content: center;
}

.svg1 path:hover {
  fill:white;
}

.svg2 path:hover {
  fill:white;
}

.svg3 path:hover {
  fill:white;
}

.svg4 path:hover {
  fill:white;
}

 .blok:hover{
  border-color: #2196f3;
}

.blok1:hover > path{
  fill: #2196f3;
}

.svg1:hover {
  box-shadow: 0 0 0 8px #2196f3;
  background-color: #2196f3;
  border-radius: 40%;
}

.svg2:hover {
  box-shadow: 0 0 0 8px #2196f3;
  background-color: #2196f3;
  border-radius: 40%;
  fill: white;
}
.svg3:hover {
  box-shadow: 0 0 0 8px #2196f3;
  background-color: #2196f3;
  border-radius: 40%;
}
.svg4:hover {
  box-shadow: 0 0 0 8px #2196f3;
  background-color: #2196f3;
  border-radius: 40%;
} */

.join {
  display: flex;
  justify-content: center;
}

.svgcardsf {
  display: flex;
  justify-content: center;
}

.join h3 {
  color: #ffffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  left: 531px;
}

.blok2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  height: 40px;
  width: 40px;
}

.eh {
  width: 200px;
  display: flex;
  justify-content: space-between;
}

.svgcards:hover {
  fill: #eeeeee;
}
